.change-searchtype {
  display: flex;
  width: 100%;
}

.change-searchtype button {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  border-radius: 0;
}

#contentBox {
  padding: 2%;
  border: 1px solid #ccc;
}

.input {
  width: 60%;
  font-size: 24px;
  padding: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.paragraphs {
  display: block;
}

.mainfunctionbtn {
  margin-left: auto;
  width: 10%;
  font-size: 24px;
  padding: 8px;
  margin-right: 20px;
  height: 4%;
  cursor: pointer;
}

#multi-selectbtn {
  margin-top: 1.5%;
}

#filesearchbtn {
  font-size: 24px;
  padding: 8px;
  text-decoration: underline;
}

#searchinfotxt {
  color: rgb(88, 88, 88);
}

.spacer {
  margin-left: auto;
}

#multi-selectbtn.active {
  background-color: #666;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
}

.multi-select-actions {
  display: none;
}

.multi-select-actions.visible {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
  margin: 8px;
  padding: 4px;
}

.hiddenbtn {
  font-size: 20px;
  cursor: pointer;
}

#delete-btn {
  background-color: #d9534f;
  color: white;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 per row */
  margin: 2%;
  gap: 20px;
}

.image-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.2s;
}

.image-gallery img.selected {
  border: 3px solid dodgerblue;
  transform: scale(0.95);
}
