.pagecontent {
  padding-left: 2%;
}

.btn {
  font-size: 24px;
  padding: 8px;
}

#fileuploadbtn {
  text-decoration: underline;
}

.drop-zone {
  width: 75vw;
  padding: 40px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s ease;
}

.drop-zone.dragover {
  background-color: #f0f8ff;
  border-color: dodgerblue;
  color: dodgerblue;
}
